/* Estilos para el header del mes */
.rbc-custom-month-header {
    text-align: center;
    color: #1e3a8a;
    font-size: 14px;
}

.rbc-header {
    padding-top: 1rem;
    border-bottom: none;
}


.rbc-date-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.rbc-button-link {
    font-size: 20px;
}



/* === Día actual resaltado === */
.rbc-date-cell.rbc-now .rbc-button-link {
    background-color: #0093f4;
    /* azul fuerte */
    color: #fff;
    /* texto blanco */
    border-radius: 50%;
    /* círculo */
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rbc-month-view .rbc-day-bg {
    cursor: pointer;
    
}


