.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;  /* Sidebar + main */
  grid-template-rows: 60px 1fr;     /* Topbar + content */
  height: 100vh;
  transition: grid-template-columns 0.2s ease;
  column-gap: 1rem;
  row-gap: 1rem;
}

.dashboard.collapsed {
  grid-template-columns: 100px 1fr;   /* Sidebar se oculta */
  }

.dashboard.collapsed .logo-section {
    display: none;  
}

.dashboard.no-topbar {
  grid-template-rows: 1fr;
  overflow: hidden;
}

.dashboard.no-topbar .content{
  grid-row: 1/3;
}

/* Sidebar ocupa toda la altura */
.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}


/* Topbar arriba a la derecha */
.topbar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* Contenido abajo a la derecha */
.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 1rem;
  background: #f5f5f5;
  overflow-y: auto;
  border-radius: 2rem;
    overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
}
