:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --vino-oscuro: #7C1E3F;
  --vino-medio: #9B2C55;
  --vino-claro: #D23E6E;
  --rosado-suave: #FFD1DF;
  --texto-claro: #F8E9ED;
  --notificacion: #FF4D4F;
  --fondo-claro: #FFFFFF;

}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.logo {
  height: 50px;
  object-fit: contain;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}