.sidebar {
    display: flex;
    flex-direction: column;
    height: 98vh;
    background-color: #7C1E3F;
    color: black;
    border-radius: 1rem;
}

.sidebar-header {
    height: 60px;
    background-color: #7C1E3F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    border-bottom: 1px solid #eee;
    border-radius: 1rem 1rem 0 0;

}

.sidebar-header .toggle-button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.collapsed {
    display: flex;
    flex-direction: column;
}

.logo-section {
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    border-radius: 0.5rem;
    padding: 0.2rem;
    fill: white;
}

.app-name {
    font-weight: bold;
    font-size: 24px;
    color: white;

}

.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

}

.toggle-icon {
    fill: white;
}

.toggle-button:hover {
    transform: scale(1.2);
}

.sidebar-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.sidebar-label {
    margin-left: 0.5rem;
    font-size: 18px;
}

.sidebar-item.active .sidebar-label {
    color: white;
}

.sidebar-footer {
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    padding: 1rem;
}

.submenu {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin-left: 1.8rem;
}

