:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.logo {
  height: 50px;
  object-fit: contain;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  overflow: hidden; 
}

