:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.logo {
  height: 50px;
  object-fit: contain;
}

html, body {
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;  /* ✅ solo bloquea scroll lateral */
  overflow-x: hidden;  /* ✅ solo bloquea scroll lateral */
}

