.calendar-container {
    padding: 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}


/* evento visual */
.rbc-event {
    border-radius: 6px;
    font-size: 0.85rem;
    padding: 2px 4px;
}


/* Vista de semana o día (celdas horarias) */
.rbc-time-slot:hover {
    background-color: #d34444 !important;
    cursor: pointer;
}

/* Vista de agenda (filas con fechas) */
.rbc-agenda-table tbody>tr:hover {
    background-color: #e21a1a !important;
    cursor: pointer;
}


.rbc-date-cell {
    cursor: pointer;
}



/* Quitar gris y habilitar clic */
.rbc-off-range-bg {
    background-color: white !important;
    cursor: pointer !important;
}


.rbc-date-cell.rbc-off-range {
    color: black !important;
    opacity: 1 !important;
}

.rbc-day-bg:hover,
.rbc-off-range-bg:hover {
    background-color: #ffeeee !important;
    cursor: pointer;
}

.rbc-month-view .rbc-day-bg {}


.context-menu {
    position: absolute;
    min-width: 180px;
    /* tamaño fijo */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 2000;
    /* sobre el calendario */
}

.rbc-month-view {
    border: 1px solid #ddd;
}